[class^='dot--'] {
  position: fixed;
  z-index: 10;
}

.dot--a {
  width: 6px;
  height: 7px;
  background: url('assets/images/dot--a.png');
}

.dot--b {
  width: 5px;
  height: 5px;
  background: url('assets/images/dot--b.png');
}